<html>
  <head>
    <title>Oh Noes!</title>
    <link rel="stylesheet" href="styles/common.css"/>
    <link rel="stylesheet" href="styles/game.css"/>
    <script src="scripts/jq.js" type="text/javascript"></script>
    <script type="text/javascript">
      var MAX_BEATS = {{ max_beats }};
      var player = {
        element: $('<span id="player"/>'),
        heartbeats: {{ player.heartbeats }},
        heartrate: {{ player.heartrate }},
        x: {{ player.x }},
        y: {{ player.y }},
        abilities: [
        {% for i in abilities %}
          {{i}},
        {% endfor %}
        ]
      };
      var starting_monsters = {
      {% for m in monsters %}
        {{m.name}}: {
          x: {{m.x}},
          y: {{m.y}}
        },
      {% endfor %}
      };
    </script>
  </head>
  <body>
    <audio src="/sounds/heartbeat.ogg" type="audio/ogg" loop></audio>
    <audio id="soundtrack1" onended="choose_glitch()" preload="auto" autoplay="true">
      <source src="/sounds/original.ogg" type="audio/ogg"/>
    </audio>
    <audio id="soundtrack2" onended="choose_glitch()" preload="auto">
      <source src="/sounds/original2.ogg" type="audio/ogg"/>
    </audio>
    <audio id="soundtrack3" onended="choose_glitch()" preload="auto">
      <source src="/sounds/original3.ogg" type="audio/ogg"/>
    </audio>
    <audio id="glitch1" onended="replay_audio()"preload="auto">
      <source src="/sounds/dip.ogg" type="audio/ogg"/>
    </audio>
    <audio id="glitch2" onended="replay_audio()"preload="auto">
      <source src="/sounds/rising.ogg" type="audio/ogg"/>
    </audio>
    <audio id="glitch3" onended="replay_audio()"preload="auto">
      <source src="/sounds/repeat.ogg" type="audio/ogg"/>
    </audio>
    <table class="grid">
      <tr>
      {% for i in columns %}
        <td class="shifter top"></td>
      {% endfor %}
      </tr>
    {% for row in tiles %}
      <tr>
        <td class="shifter left"></td>
      {% for cell in row %}
        <td class="tile {{cell}}"></td>
      {% endfor %}
        <td class="shifter right"></td>
      </tr>
    {% endfor %}
      <tr>
      {% for i in columns %}
        <td class="shifter bottom"></td>
      {% endfor %}
      </tr>
    </table>
    <ul id="actions">
      <li id="rotate_left"><div class="blocker"></div></li>
      <li id="rotate_right"><div class="blocker"></div></li>
      <li id="swap_tiles"><div class="blocker"></div></li>
      <li id="shift_tiles"><div class="blocker"></div></li>
    </ul>
    <div id="heart_monitor">
      <div id="beats">
        <div id="bar"></div>
      </div>
      <div id="heart"></div>
      <div id="rate"></div>
    </div>
    <div id="overlay">
      <div id="gameover">
        <h1>Game Over</h1>
        <input type="button" value="Continue"/>
      </div>
    </div>
    <script src="scripts/game.js" type="text/javascript"></script>
  </body>
</html>
