<html>
  <head>
    <title>Oh Noes!</title>
    <link rel="stylesheet" href="styles/common.css"/>
    <link rel="stylesheet" href="styles/game.css"/>
  </head>
  <body>
    <table class="grid">
    {% for row in tiles %}
      <tr>
      {% for cell in row %}
        <td class="tile {{cell}}"></td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
    <ul id="actions">
      <li id="rotate_left">Rotate Left</li>
      <li id="rotate_right">Rotate Right</li>
      <li id="swap_tiles">Swap Tiles</li>
      <li id="shift_tiles">Shift Tiles</li>
    </ul>
    <script src="scripts/jq.js" type="text/javascript"></script>
    <script src="scripts/game.js" type="text/javascript"></script>
  </body>
</html>
