table.grid {
  border: none;
  padding: 0;
  border-collapse: collapse;
  margin: 20px auto 0;
}

table.grid td.tile {
  height: 64px;
  width: 64px;
  background-color: #DEDEDE;
  padding: 0;
  margin: 0;
  position: relative;
}

table.grid tr:nth-child(odd) td.tile:nth-child(even), 
table.grid tr:nth-child(even) td.tile:nth-child(odd) {
  background-color: #C7C7C7;
}

table.grid td.shifter.left,
table.grid td.shifter.right {
    width: 20px;
}

table.grid td.shifter.top,
table.grid td.shifter.bottom {
    height: 20px;
}

td.tile.up {
  background-image: url('/images/tile_feet3.png');
}

td.tile.right {
  background-image: url('/images/Tile_feet1.png');
}

td.tile.down {
  background-image: url('/images/tile_feet7.png');
}

td.tile.left {
  background-image: url('/images/tile_feet5.png');
}

#actions {
    position: absolute;
    top: 0;
    color: white;
    padding: 0;
}

#actions li {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-color: #d9b464;
}

#rotate_left {
  background-image: url('/images/rotate_left.png');
}

#rotate_right {
  background-image: url('/images/rotate_right.png');
}

#heart_monitor {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 300px;
}

#beats {
  width: 20px;
  height: 200px;
  background: red;
  border: 2px solid yellow;
}

#bar {
  width: 100%;
  height: 0%;
  background: black;
}

#player {
  display: inline-block;
  height: 64px;
  width: 64px;
  background-image: url('/images/face.png');
}

#target {
  height: 64px;
  width: 64px;
  position: absolute;
  background-image: url('/images/Border1.png');
  top: 0;
  left: 0;
}

#target.rotate_left {
  cursor: url('/images/rotate_left_sm.png'), pointer;
}

#target.rotate_right {
  cursor: url('/images/rotate_right_sm.png'), pointer;
}
