table.grid {
  border: none;
  padding: 0;
  border-collapse: collapse;
  margin: 20px auto 0;
}

table.grid td.tile {
  height: 64px;
  width: 64px;
  background-color: #DEDEDE;
  padding: 0;
  margin: 0;
  position: relative;
  background-image: url('/images/feet.png');
}

table.grid tr:nth-child(odd) td.tile:nth-child(even), 
table.grid tr:nth-child(even) td.tile:nth-child(odd) {
  background-color: #C7C7C7;
}

table.grid td.shifter.left,
table.grid td.shifter.right {
    width: 20px;
}

table.grid td.shifter.top,
table.grid td.shifter.bottom {
    height: 20px;
}

td.tile.up {
  background-position: 0px 0px;
}

td.tile.right {
  background-position: 0px 128px;
}

td.tile.down {
  background-position: 0 192px;
}

td.tile.left {
  background-position: 0 64px;
}

table.grid td.tile.active {
  background-image: url('/images/active_feet.png');
}

table.grid td.tile.current {
  background-image: url('/images/current_feet.png');
}

#actions {
    position: absolute;
    top: 0;
    color: white;
    padding: 0;
}

#actions li {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-color: #d9b464;
}

#rotate_left {
  background-image: url('/images/rotate_left.png');
}

#rotate_right {
  background-image: url('/images/rotate_right.png');
}

#shift_tiles {
  background-image: url('/images/shift.png');
}

#swap_tiles {
 background-image: url('/images/swap.png');
}

#music.musicon {
  background-image: url('/images/musicon.png');
}

#controls {
    position: absolute;
    top: 400;
    color: white;
    padding: 0;
}

#controls li {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  cursor: pointer;
  width: 64px;
  height: 64px;
}
#music.musicoff {
  background-image: url('/images/musicoff.png');
}

#sound.soundoff {
  background-image: url('/images/speakeroff.png');
}

#sound.soundon {
  background-image: url('/images/speakeron.png');
}

#heart_monitor {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 64px;
  height: 300px;
}

#beats {
  width: 20px;
  height: 200px;
  background: red;
  border: 2px solid yellow;
  margin: 0 auto;
}

#bar {
  width: 100%;
  height: 0%;
  background: black;
}

#heart {
  width: 64px;
  height: 64px;
}

#heart.tiny {
  background-image: url('/images/heart1.png');
}

#heart.small {
  background-image: url('/images/heart2.png');
}

#heart.medium {
  background-image: url('/images/heart3.png');
}

#heart.large {
  background-image: url('/images/heart4.png');
}

#player {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url('/images/player.png');
}

#player.happy {
  background-position: 0 0;
}

#player.nervous {
  background-position: 0 200px;
}

#player.worried {
  background-position: 0 150px;
}

#player.scared {
  background-position: 0 100px;
}

#player.terrified {
  background-position: 0 50px;
}

#target {
  height: 64px;
  width: 64px;
  position: absolute;
  background-image: url('/images/Border1.png');
  top: 0;
  left: 0;
}

#target.rotate_left {
  cursor: url('/images/rotate_left_sm.png'), pointer;
}

#target.rotate_right {
  cursor: url('/images/rotate_right_sm.png'), pointer;
}

#target.up_cursor {
  cursor: n-resize;
}
#target.down_cursor {
  cursor: s-resize;
}
#target.left_cursor {
  cursor: w-resize;
}
#target.right_cursor {
  cursor: e-resize;
}

div.blocker {
  display: none;
  height: 100%;
  width: 100%;
  background: #333;
  opacity: 0.8;
  cursor: auto;
}

#overlay {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
  background: #333;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
}

#gameover {
  background: #C7C7C7;
  padding: 50px 0;
  margin: 80px auto;
  width: 25%;
}

#gameover h1 {
  text-align: center;
}

#gameover input {
  width: 90px;
  margin-left: 30%;
}

span.blanket {
  background-image: url('/images/blankie.png');
  background-repeat: no-repeat;
}

span.candy {
  background-image: url('/images/lollipop.png');
  background-repeat: no-repeat;
}
